# .env (Ausschnitt)
DB_USER=datata1
DB_PASSWORD=devpassword
DB_HOST=localhost 
DB_PORT=5432
DB_NAME=datata1

REDIS_PORT=6379
REDIS_HOST=localhost

DATABASE_URL=postgresql+psycopg2://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}

SENSOR_BOX_ID=5faeb5589b2df8001b980304


# Falls du später asyncpg verwenden willst:
# ASYNC_DATABASE_URL=postgresql+asyncpg://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}