:3000 {
    log {
        output stdout
        format console
    }

    encode gzip

    # fast-api backend 
    handle_path /api/* {
        reverse_proxy localhost:8000
    }

    # object storage (für models)
    handle_path /minio/* {
        reverse_proxy localhost:9001
    }

    # db explorer
    handle_path /db-admin/* {
        reverse_proxy localhost:5050 
    }

    # prefect ui
    handle_path /prefect/* {
        reverse_proxy localhost:4200
    }

    # catch-all zum frontend
    handle {
        reverse_proxy localhost:8050
    }
}
