/* services/frontend/app/assets/style.css */

html, body {
    height: 100%;
    margin: 0; /* Entfernt Standard-Browser-Margin */
    padding: 0; /* Entfernt Standard-Browser-Padding */
    overflow: hidden; /* Verhindert Scrollen auf der Hauptseite, wenn Inhalte in Containern scrollen */
}


.container-fluid {
    height: 100%; 
    display: flex; 
}

.sidebar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 200px; /* Breite im ausgeklappten Zustand */
    height: 100%;
    background-color: #f8f9fa; /* Beispiel Hintergrundfarbe */
    padding: 40px 20px;
    transition: width 0.05s ease; /* Sanfter Übergang beim Ein-/Ausklappen */
    overflow-x: hidden; /* Verstecke horizontalen Inhalt beim Einklappen */
}

.sidebar.collapsed {
    width: 80px; /* Breite im eingeklappten Zustand */
    padding: 0px; /* Passe hier weitere Stile an (z.B. Text verstecken) */
}

#plot-container {
    /* Styling für den Plot-Bereich */
    width: 100%; /* Volle Breite */
    height: 100%; /* Volle Höhe */
    padding: 10px;
}

.sidebar.collapsed h2,
.sidebar.collapsed hr,
.sidebar.collapsed p,
.sidebar.collapsed a {
    display: none; /* Blendet diese Elemente aus */
}

.sidebar-toggle {
    /* Styling für den Ein-/Ausklapp-Button */
    position: absolute; /* Oder passe es in deinem Layout an */
    top: 10px;
    left: 20px; /* Position neben der Sidebar */
    z-index: 1000; /* Stelle sicher, dass er über anderen Elementen liegt */
}

.content {
    height: 100%; 
    width: calc(100% - 200px); 
    margin-left: 280px; 
    padding: 20px;
    transition: margin-left 0.3s ease, width 0.3s ease; 
    overflow-y: auto; 
    box-sizing: border-box; 
}

.sidebar.collapsed ~ .content {
    margin-left: 80px; 
    width: calc(100% - 80px); 
}

/* Styling für Navigationslinks */
.sidebar .nav-link {
    display: block; /* Stelle sicher, dass jeder Link eine neue Zeile beginnt */
    padding: 10px 0;
    color: #007bff; /* Beispiel Linkfarbe */
    text-decoration: none;
}

.sidebar.collapsed .nav-link {
    /* Stile für Links im eingeklappten Zustand (z.B. Text verstecken, nur Icons zeigen) */
    white-space: nowrap; /* Verhindere Zeilenumbruch */
    overflow: hidden; /* Text verstecken */
    text-overflow: ellipsis; /* ... anzeigen, wenn Text abgeschnitten wird */
}

.sidebar .nav-link img.icon {
    width: 24px; 
    height: 24px;
    vertical-align: middle; 
}

.sidebar.collapsed .nav-link span {
    display: none; 
}

.sidebar.collapsed .nav-link img.icon {
    margin-right: 0 !important; 
}

.loading-container {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Leicht transparenter Hintergrund */
    display: flex; 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; /* Über anderen Elementen */
}

